.Card {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.Header {
  display: flex;
  justify-content: center;
}

.Title {
  flex: 1;
  padding: 5px;
}

.Content {
  padding: 20px;
}

.Red .Header {
  color: #fff;
  background-color: #c62828;
}

.Red .Content {
  background-color: #f44336;
}
.Green .Header {
  color: #fff;
  background-color: #2e7d32;
}

.Green .Content {
  background-color: #4caf50;
}
.Blue .Header {
  color: #fff;
  background-color: #1565c0;
}

.Blue .Content {
  background-color: #2196f3;
}
.Purple .Header {
  color: #fff;
  background-color: #6a1ba3;
}

.Purple .Content {
  background-color: #9c27b0;
}